.div-changpass Form {
    width: 290px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #0a1f3c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
}

.div-changpass .heading {
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}


.div-changpass label {
    width: 90%;
    text-align: left;
    font-size: small;
    margin-bottom: 0.5em;
    color: #ffffffc7;
}

.div-changpass .input-group{
    width: 90%;
    margin-bottom: 0.5em;
}
.div-changpass input {
    border-color: transparent;
}

.div-changpass .btn-primary{
    margin-top: 1em !important;
}