.container {
    height: 100%;
    display: flex;
    position: relative;
    margin-top: 15px;
  }
  
  .slider {
    position: relative;
    width: 100%;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: var(--bg-input);
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #9bafc4;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 15px;
  }
  
  .slider__left-value {
    left: -3px;
  }
  
  .slider__right-value {
    right: -3px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
  }
  
  .thumb--left {
    left: 5px;
    z-index: 3;
  }
  
  .thumb--right {
    right: 5px;
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #ef8700;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ff9c1b;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #ef8700;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ff9c1b;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  .thumb::-webkit-slider-thumb:focus {
    border-color: #86b7fe;
    background-color: #86b7fe;
  }

  .thumb::-webkit-slider-thumb:active {
    border-color: #f7a336;
    background-color: #f7a336;
  }