.carousel {
	width: 100%;
	border-radius: 10px;
}

.carousel-inner {
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.carousel-item {
	width: 100%;
	height: calc(100vw * 0.2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}

.carousel-img1 {
	background-image: url("../../../imagenes/carrusel-img-1.jpg");
}

.carousel-img2 {
	background-image: url("../../../imagenes/carrusel-img-2.jpg");
}

.carousel-img3 {
	background-image: url("../../../imagenes/carrusel-img-3.jpg");
}

.seccion {
	padding-top: 2rem;
	margin: 0;
}

.seccion-jugador-sponsor {
	display: flex;
}


/* CSS PARA MODAL DEL JUGADOR */
.out-div-seccion {
	margin-top: 10px;
}

.div-seccion {
	width: 100% !important;
	overflow: hidden;
}

.seccion-jugadores {
	background-color: #0a1f3c;
	padding: 1.5rem 1.5rem;
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.div-modal-player {
	border-radius: 10px;
	background-color: #E6E7E8;
	width: 100%;
	min-width: 230px;
	max-width: 318px;
	height: 400px;
	padding: 0 10px;
	overflow: hidden;
	position: relative;
}

.icon-player-left {
	position: absolute;
	font-size: 1.3rem;
	top: 15px;
	left: 15px;
	text-align: center;
	border-radius: 10PX;
	padding: 10px;
	padding-bottom: 4px;
	background-color: #E6E7E8;
}

.icon-player-left .icon-cancha {
	color: #0a1f3c;
	transform: rotate(90deg);
}

.icon-player-left span {
	color: #0a1f3c;
	font-size: .8rem;
	font-weight: 600;
}

.icon-player-right {
	position: absolute;
	width: 50px;
	border-radius: 10PX;
	padding: 10px;
	top: 15px;
	right: 15px;
	padding-bottom: 7px;
	background-color: #E6E7E8;
}

.icon-player-right label {
	color: #0a1f3c;
	font-size: .8rem;
	font-weight: 600;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-player-right img {
	width: 100%;
}

.div-img-player {
	height: 79%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 10px;
}

.img-card-jugador {
	position: absolute;
	height: 100%;
	top: 0;
}

.icono-jugador-modal {
	font-size: 386px;
	color: #bbbbbb;
	position: absolute;
	bottom: 0;
}

.div-modal-info-player {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 15px;
}


.info-modal-player {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 15px;
	padding-bottom: 10px;
	width: 100%;
}

.foot-info-player {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.info-nombre {
	font-size: 1.2rem;
	font-weight: 600;
	color: #0a1f3c;
}

.info-edad {
	color: #0a1f3c;
	font-size: 0.8rem;
	font-weight: 500;
	margin-top: -2px;
}

.info-fecha {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	margin-top: -2px;
	color: #0a1f3c;
	font-weight: 500;
}

.link-verficha {
	position: absolute;
	color: #0a1f3c;
	border-radius: 10px;
	top: -45px;
	right: 10px;
	background-color: #ef8700;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
	padding: 3px 15px;
	color: #fff;
	font-size: 0.9rem;
}


.link-verficha:hover {
	background-color: #d67900;
	color: #fff;
}

.link-verpfd {
	position: absolute;
	color: #0a1f3c;
	border-radius: 10px;
	top: -45px;
	left: 10px;
	background-color: #ef8700;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
	padding: 3px 9px;
	color: #fff;
	font-size: 0.9rem;
}


.link-verpfd:hover {
	background-color: #d67900;
	color: #fff;
}

/* CSS PARA LOS ANUNCIOS */
.div-Sponsor {
	width: 400px;
}

.card-Sponsor {
	height: auto;
	margin-top: 32px;
	padding: 1rem 1.5rem;
	background-color: #0a1f3c;
	border-radius: 10px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 92px;

}

.sponsor-img {
	width: 100%;
	min-width: 200px;
	max-width: 300px;
	padding: 0px 0;
	border-radius: 10px;
}

.div-Sponsor .row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 15px;
}

.div-img-sponsor {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-filtros {
	height: 40px !important;
	border: none;
	background-color: #1a3661 !important;
	color: rgba(255, 255, 255, 0.7);
	border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
	z-index: 1;
}

.input-filtros:hover {
	background-color: #142e55 !important;
}


.div-filtros {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 165px;
	transition: all 0.4s;
}

.div-filtros.hideFilter {
	height: 0;
}

.in-div-filtro {
	padding: 16px 24px;
	padding-top: 24px;
}


.div-filtros .div-select {
	margin-top: 10px;
	padding-right: 24px;
}



/* Loader CSS */

.inicio .Loader .div-modal-player {
	margin-left: -20px;
}

.Loader .div-modal-player {
	background-color: transparent;
	box-shadow: none !important;
}

.Loader .content-head {
	width: 100%;
	height: 320px;
	display: flex;
	align-items: flex-start;
}

.inicio .Loader .content-head{
	height: 270px;
}

.Loader .content-body {
	width: 100%;
	height: 20px;
	margin-top: 20px;
	display: flex;
	align-items: flex-end;
}

.Loader .subcontent-div {
	display: flex;
	width: 100%;
	margin-top: 15px;
	justify-content: space-between;
}

.Loader .subcontent-body-date {
	width: 55%;
	height: 20px;
}

.Loader .subcontent-body-year {
	width: 25%;
	height: 20px;
}

.loader-animacion{
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
	overflow: hidden;
}
.loader-animacion::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent, rgba(255,255,255,0.2), transparent);
	transform: translateX(-100%);
	animation: loading 1s infinite;
}

.seccion-jugadores{
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(min(100%,250px),1fr));
	grid-template-rows: repeat(1,1fr);
}

@keyframes loading {
	100%{
		transform: translateX(100%);
	}
}

@media (max-width: 920px) {
	.div-Sponsor {
		width: 100%;
		margin: 0;
	}

	.seccion-jugador-sponsor {
		display: flex;
		flex-direction: column-reverse;

	}

	.div-seccion {
		width: 100% !important;
		padding-right: 0px;
	}

}

@media (max-width: 767px) {
	.carousel-item {
		width: 100%;
		height: calc(100vw * 0.5);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.sponsor-img {
		width: 100%;
		min-width: 150px;
		max-width: 300px;
		padding: 0px 0;
		border-radius: 10px;
	}

	.seccion-jugadores {
	width: 100%;
	}

	.div-filtros {
		height: 330px;
	}
	.sm-mt-3{
		margin-top: .5rem;
	}

}


@media (max-width: 665px) {

	.div-modal-player {
		height: 400px;
		max-width: 320px;
		min-width: none;
		width: 100%;
	}

}


@media (max-width: 360px) {
	.div-modal-player {
		height: 320px;
	}

	.icono-jugador-modal {
		font-size: 290px;
		color: #bbbbbb;
		position: absolute;
		bottom: 0;
	}

	.info-nombre {
		font-size: 1.1rem;
		font-weight: 600;
		color: #0a1f3c;
	}

	.info-edad {
		color: #0a1f3c;
		font-size: 0.8rem;
		font-weight: 500;
	}

	.info-fecha {
		font-size: 0.8rem;
		display: flex;
		align-items: center;
		margin-top: -2px;
		color: #0a1f3c;
		font-weight: 500;
	}
}

@media (max-width: 300px) {
	.info-nombre {
		font-size: 1rem;
		font-weight: 600;
		color: #0a1f3c;
	}

	.info-edad {
		color: #0a1f3c;
		font-size: 0.8rem;
		font-weight: 500;
	}

	.info-fecha {
		font-size: 0.8rem;
		display: flex;
		align-items: center;
		margin-top: -2px;
		color: #0a1f3c;
		font-weight: 500;
	}

}

.cant-Jugadores{
	font-size: 0.8rem;
	color: #ffffff8a !important;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}