.seccion-contacto {
    background-color: var(--card-section-bg);
    padding: 1.5rem .5rem;
    margin-top: 10px;
    border-radius: 10px;
    height: 100%;
    max-width: 900px;
}

.seccion-contacto textarea {
    height: 150px;
}

.seccion-contacto .form-control {
    border-color: var(--card-section-bg);
}


.seccion-contacto button {
    font-family: inherit;
    font-size: 1rem;
    background: #d67900;
    color: white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.seccion-contacto button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

.seccion-contacto button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.seccion-contacto button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.seccion-contacto button:hover svg {
    transform: translateX(1.3em) rotate(45deg) scale(1.1);
}

.seccion-contacto button:hover span {
    transform: translateX(5em);
}

.seccion-contacto button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.footer-form{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}